.user-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    padding: 1%;
    margin: 1% 38.5%;
    background-color: antiquewhite;
    border-radius: 4rem;
    }

.figure-grid-container {
    display: grid;
    place-items: center;
    width: fit-content;
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    }

.github-profile-img {
    max-width: 75%;
    margin: 9%;
    border-radius: 10rem;
    }